@tailwind base;
@tailwind components;
@tailwind utilities;

.portfolio-icon {
    transition: all 0.3s ease;
  }
  
  .flex:hover .portfolio-icon {
    color: black;
    background-color: white;
  }

  .hexagon {
    @apply relative w-[600px] h-[500px] pt-10 bg-amber-200 rotate-90 shadow-xl shadow-black;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M25 2.5 a2.5 2.5 0 0 1 2.5 -2.5 h45 a2.5 2.5 0 0 1 2.5 2.5 l22.5 37.5 a2.5 2.5 0 0 1 0 2.5 l-22.5 37.5 a2.5 2.5 0 0 1 -2.5 2.5 h-45 a2.5 2.5 0 0 1 -2.5 -2.5 l-22.5 -37.5 a2.5 2.5 0 0 1 0 -2.5 z" fill="white" /></svg>');
    -webkit-mask-size: cover;
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M25 2.5 a2.5 2.5 0 0 1 2.5 -2.5 h45 a2.5 2.5 0 0 1 2.5 2.5 l22.5 37.5 a2.5 2.5 0 0 1 0 2.5 l-22.5 37.5 a2.5 2.5 0 0 1 -2.5 2.5 h-45 a2.5 2.5 0 0 1 -2.5 -2.5 l-22.5 -37.5 a2.5 2.5 0 0 1 0 -2.5 z" fill="white" /></svg>');
    mask-size: cover;
    background-image: url('/images/dua.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center 20%;
    transform: rotate(360deg);
    background-size:60%;
    background-repeat: no-repeat;
  }

